<div *ngIf="expenses.length == 0">
  <h2>Vous n'avez pas encore effectué de dépenses.</h2>
</div>
<div class="card__row">
  <app-stats-expenses-widget *ngIf="expenses.length != 0"></app-stats-expenses-widget>
  <app-total-expenses-widget></app-total-expenses-widget>
</div>
<div class="expense" *ngFor="let expense of expenses">
  <app-expense [expense]="expense" class="expensegrid__leftcol"></app-expense>
  <div class="expensegrid__rightcol">
    <button mat-mini-fab color="warn" (click)="onDeleteExpense(expense)" aria-label="Delete the expense">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="onEditExpense(expense)" aria-label="Edit the expense">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
