.expense {
  border: black 1px solid;
  padding: 0.5rem 1rem;
  margin: 30px 30px;
  border-radius: 0.6em;
  display: grid;
  grid-template-columns: [first] 12% [line2] 74% [end];

  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.8);
  }

  & .title {
    font-size: 2em;
    margin: 0.3em 0;
  }

  & div {
    background-color: white;
  }

  & .expensegrid {
    &__firstcol {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right: black 1px solid;
      & .amount {
        color: red;
        font-size: 1.5em;
        font-weight: bold;
      }

      & .category {
        font-size: 0.7em;
        font-weight: bold;
        margin: 0;
        color: grey;
      }

      & .date {
        font-size: 0.8em;
        margin: 0;
      }
    }
    &__secondcol {
      grid-column: 2 / 3;
      padding-left: 1em;
    }

    &__thirdcol {
      grid-column: 3 / 4;
      border-left: black 1px solid;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      gap: 1em;
      justify-content: center;
      align-items: center;
    }
  }
}
