.expense {
  padding: 1em;
}

.card__row {
  padding: 2em;
  display: flex;
  gap: 1.7em;
  @media screen and (max-width:768px) {
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width:768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  margin-bottom: 1.8em;
}

.noExpense {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #6c6c6c;
  font-size: 1.5em;
  font-weight: lighter;
}
