<div *ngIf="expense != null" class="lcol__grid">
  <div class="lcol__grid__firstcol">
    <p class="date">{{ expense.date | date:'dd/MM/yyyy' }}</p>
    <p class="category" [style]="{backgroundColor: (expense.category | categoryColor)}">{{ expense.category }}</p>
    <p class="amount">{{ expense.amount | currency:'EUR':'symbol':'1.2-2' }}</p>
  </div>
  <div class="lcol__grid__secondcol">
    <h2 class="title">{{ expense.title }}</h2>
    <p *ngIf="expense.description" class="description">{{ expense.description }}</p>
    <p *ngIf="!expense.description" class="description__notdefined">Pas de description</p>
  </div>
</div>
<div *ngIf="expense == null">
  <p>There is no expense to display.</p>
</div>
