.lcol__grid {
  border-radius: 0.6em;
  display: grid;
  grid-template-columns: [first] 20% [line2] 80% [end];
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  width: 100%;

  &__firstcol {
    grid-column: 1 / 2;
    color: black;
    border-right: #f1f1f1 1px solid;
    padding: 1em;

    & p {
      text-align: center;
    }

    & .date {
      font-size: 0.7rem;
      color: #525252;
      border-top-right-radius: 0.7em;
      border-top-left-radius: 0.7em;
      margin: 0;
      border-top: #eaeaea solid 1px;
      border-left: #eaeaea solid 1px;
      border-right: #eaeaea solid 1px;
    }

    & .category {
      color: white;
      padding: 0.25em 0.8em;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      border-bottom: #eaeaea solid 1px;
      border-left: #eaeaea solid 1px;
      border-right: #eaeaea solid 1px;
    }

    & .amount {
      font-weight: bold;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
      margin: 0 auto;
      padding: 0.25em 0.8em;
      border-radius: 8em;
      width: 30%;
    }
  }

  &__secondcol {
    grid-column: 2 / 3;
    color: #000000;
    padding: 1em;

    & .description {
      font-size: 0.8rem;
      color: #2f2f2f;

      &__notdefined {
        color: #696969;
        font-style: italic;
      }
    }
  }
}


.card_flex {
  display: flex;
  flex-direction: row;

  &__left {
    width: 100%;
  }

  &__right {
    padding: 0 0.6em;
    background-color: white;
    border-radius: 1em;
    margin-left: 1em;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
  }
}
