<div class="sort_buttons">
  <div class="sort_bar">
    <p class="sort_bar__titre">Trier par:</p>
    <div class="sort_buttons__price" (click)="onSortByPrice()">
      <mat-icon>attach_money</mat-icon>
      Prix
    </div>
    <div class="sort_bar__category" (click)="onSortByCategory()">
      <mat-icon>sort</mat-icon>
      Catégorie
    </div>
    <div class="sort_buttons__date" (click)="onSortByDate()">
      <mat-icon>date_range</mat-icon>
      Date
    </div>
    <div class="sort_buttons__az" (click)="onSortAlphabetically()">
      <mat-icon>sort_by_alpha</mat-icon>
      Titre
    </div>
  </div>
</div>
